@using ShoppingCart.Models
@model Dictionary<Product, int>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalCost = 0;
}

<h2>Order confirmation</h2>

@using (Html.BeginForm("Register", "Checkout", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Confirm your order below and proceed with payment details</h4>
        <hr id="ruleOne" class="checkoutRule" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table checkoutTable">

            @foreach (KeyValuePair<Product, int> item in ((Dictionary<Product, int>)Session["cart"]))
            {
                <tr>
                    <td>
                        @item.Key.Title
                    </td>
                    <td>
                        @item.Key.ShortDescription
                    </td>
                    <td>
                        @String.Format("{0:c}", item.Key.Price)
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td class="alignRight">
                        @String.Format("{0:c}", (item.Key.Price * @item.Value))
                    </td>
                </tr>

                totalCost += (item.Key.Price * item.Value);
            }
        </table>
        <hr class="checkoutRule" />
        <table class="totalsTable">

            <tr>
                <td></td>
                <td id="checkoutTotal" class="alignRight">
                    Total&nbsp;&nbsp;&nbsp;&nbsp;@String.Format("{0:c}", totalCost)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.ActionLink("Return to Cart", "../Cart/Index")
                </td>
                <td class=" = alignRight">
                    @Html.ActionLink("Confirm and Pay", "../Checkout/Checkout")
                </td>
            </tr>
        </table>
    </div>
}